# Prerequisites
*.d.education

# Compiled Object files
*.slo.contentpage
*.lo.introduction
*.o.pharse
*.obj.ideas.

# Precompiled Headers
*.gch.naturalworld
*.pchclimatefocus

# Compiled Dynamic libraries
*.somyown
*.dylibmyown
*.dllmyown

# Fortran module files
*.mod.topick
*.smod.chapters

# Compiled Static libraries
*.lai.naturalscience
*.la.naturalscience
*.a.naturalscience
*.lib.naturalscience

# Executables
*.exe.generating.ideas
*.out.ideas.solution
*.app.solution
end.c++

